.dropdown {
    font-size: 3rem;
    position: absolute;
    top: 1rem;
    left: 2rem;
    cursor: pointer;
}

.menu-cont {
    position: absolute;
    top: 5rem;
    left: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: auto;
    background-color: rgb(206, 204, 204);
    border-radius: 12px;
}
.menu {
    padding: 1rem;
    font-size: 2rem;
    cursor: pointer;
}
